.header_mobile_maindiv {
  background-color: #fff;
  padding: 10px 30px;
}
.mobile_layout_first_div {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.mobile_layout_second_div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.first_div {
  display: flex;
  gap: 10px;
}
.book_icon {
  margin-top: 5px;
  color: #a5a4a4;
}
.first_div p {
  font-size: 22px;
}
.second_div {
  position: relative;
}

.second_div input {
  width: 100%;
  padding: 5px 15px 5px 40px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #a5a4a4;
}
.search_icon {
  position: absolute;
  left: 12px;
  top: 40%;
  transform: translateY(-50%);
  color: #777;
}
.second_div input:focus {
  outline: none;
  border: 1px solid #ccc;
}
.third_div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.third_div p {
  font-size: 20px;
}
.third_div button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.hide {
  display: none;
}
.mobile-view-hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .header_mobile_maindiv {
    display: none;
  }
  .header_maindiv {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
  }
  .first_div {
    display: flex;
    gap: 10px;
  }
  .book_icon {
    margin-top: 5px;
    color: #a5a4a4;
  }
  .first_div p {
    font-size: 22px;
  }
  .second_div {
    position: relative;
  }

  .second_div input {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #a5a4a4;
  }

  .search_icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
  }
  .second_div input:focus {
    outline: none;
    border: 1px solid #ccc;
  }
  .third_div {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .third_div p {
    font-size: 20px;
  }
  .third_div button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  .hide {
    display: none;
  }
}
